* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/bg-main.jpg") no-repeat center center / cover;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
#board {
  margin-top: 5rem;
  display: inline-block;
  background: url("../img/area.png") no-repeat center center / cover;
}

.row {
  display: flex;
}
.cell {
  border: 1px solid black;
  width: 70px;
  height: 70px;
}

.targetCell {
  background-color: aquamarine;
}
.player::before {
  content: "=>";
  font-size: 3rem;
}

.player--right {
  transform: rotate(0);
}

.player--down {
  transform: rotate(90deg);
}
.player--left {
  transform: rotate(180deg);
}
.player--up {
  transform: rotate(270deg);
}

#reset {
  user-select: none;
  display: block;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #6fae99;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  cursor: pointer;
}

#reset:hover {
  background: linear-gradient(#e66465, #9198e5);
}
